// elements globaux (body h1 h2 p ul a)
@use "../abstracts/variables" as variable;

* {
    box-sizing: border-box;
}

body {
    background-color: variable.$beige;
    font-family: variable.$font-principale, sans-serif;
}

h1 {
    font-size: 3rem;
    font-weight: 700;
    margin: 0;
}

h2 {
    font-size: 1.6rem;
    font-weight: 700;
}

h3 {
    font-size: 1,3rem;
    font-weight: 700;
}

h4 {
    font-size: 1rem;
    font-weight: 500;
}

p {
    font-size: 1rem;
    font-weight: normal;
    padding-bottom: 1rem;
}