@media screen and (max-width:1000px) {

    .videos__wrapper {
        text-align: center;
        .videos-card {
            flex-direction: column;
            gap: 0;
            .video {
                width: 100%;
                height: 34vh;
            }
        }
    }
    .footer__wrapper {
        .navfooter {
            flex-direction: column;
            align-items: start;
            .liens {
                margin-left: 0rem !important;
            .google {
                width: 100%;
            }
            }
        }
    }
}



@media screen and (max-width:768px) {

    .header__wrapper {
        flex-direction: column;
        .img {
            width: 100%;
        }
    }

    .hero__wrapper {
        flex-direction: column;
    }

    .projet-card {
        flex-direction: column;
        .card {
            width: 100%;
        }
    }

    #mission {
        .mission__wrapper {
            max-width: 80%;
            flex-direction: column-reverse;
            padding: 2rem;
            .mission-text {
                width: 100%;
            }
            .mission-img {
                width: 100%;
            }
            .mission-list {
                ul {
                    flex-direction: column;
                    padding: 0;
                }
            }
        }
    }

    #actualites {
        .actualites__wrapper {
            .climat-actu {
                flex-direction: column;
                gap: 0rem;
                img {
                    width: 100%;
                    border-bottom-left-radius: 0;
                    border-bottom-right-radius: 0;
                }
                .climat-card {
                    width: 100%;
                }
            }
            .cards-actu {
                flex-direction: column;
                .cards {
                    width: 100%;
                    height: 60vh;
                    img {
                        width: 100%;
                        height: 50%;
                    }
                }
            }
        }
    }
    .gallerie__wrapper {
        .gallerie-grid {
            display: flex;
            flex-direction: column;
            img {
                width: 100%;
                height: 20vh;
            }
        }
    }
    .banner-cta__wrapper {
        flex-direction: column;
        text-align: center;
    }

    .partners__wrapper {
        height: auto;
        .partners-img {
            flex-direction: column;
            justify-content: center;
            gap: 2rem;
            img {
                width: 100%;
            }
        }
    }
}