// POLICE COLOR
$primary-color: #030303;

// BACKGROUND COLOR 
$second-color: #faf2e7;

// BG AND BUTTON COLOR
$third-color: #054d3b;
$fifth-color: #799e29;

// LINK COLOR AND BTN
$fourth-color: #ed732c;

// BORDER COLOR
$sixth-color: #f0f3f2;







