// POLICE 
$primary-color: #030303;
$font-principale: "DMSans";
$font-secondaire: "DMSans extrabold";

// BACKGROUND COLOR 
$second-color: #faf2e7;
$white-color: #ffffff;

// BG AND BUTTON COLOR
$third-color: #054d3b;
$fifth-color: #799e29;

// LINK COLOR AND BTN-secondary
$fourth-color: #ed732c;

// BORDER 
$sixth-color: #f0f3f2;
$radius10: 10px;

// LINK DECORATION
$deconone: none;






