// POLICE 
$black: #030303;
$font-principale: "DMSans";
$font-secondaire: "DMSans extrabold";

// BACKGROUND COLOR 
$beige: #faf2e7;
$white: #ffffff;

// BG AND BUTTON COLOR
$forest: #054d3b;
$apple: #799e29;

// LINK COLOR AND BTN-secondary
$orange: #ed732c;

// BORDER 
$grey: #f0f3f2;
$radius10: 10px;

// LINK DECORATION
$deconone: none;

// IMAGE PADDING
$img-padding: 10px






