@use "../abstracts/variables" as variable;


// Bouton dégradé CTA
.cta-primary {
    padding: variable.$btn-padding;
    border-radius: variable.$radius10;
    color: variable.$white;
    text-decoration: none;
    background: linear-gradient(45deg, variable.$forest, variable.$apple);
    background-size: 200% 200%;
    animation: move 1s infinite alternate;
    transition: 0.2s;
  }
  
  @keyframes move {
    0% { background-position: 0% 50%; }
    100% { background-position: 100% 50%; }
}

.cta-primary:hover {
  box-shadow: 0 0 10px variable.$apple;
  transition: 0.2s ease-in-out;
}

// CTA SECONDARY
.cta-secondary {
  text-decoration: variable.$deconone;
  color: variable.$forest;
  background-color: variable.$white;
  padding: variable.$btn-padding;
  border-radius: variable.$radius10;
  align-self: center;
  cursor: pointer;
}

.cta-secondary:hover {
  background-color: variable.$forest;
  color: variable.$white;
  box-shadow: 0 0 10px variable.$forest;
  transition: 0.2s ease-in-out;

}

// BTN PRIMARY
.btn-primary {
    text-decoration: variable.$deconone;
    color: variable.$white;
    background-color: variable.$forest;
    padding: variable.$btn-padding;
    border-radius: variable.$radius10;
}

.btn-primary:hover {
  color: variable.$forest;
  background-color: variable.$beige;
  box-shadow: 0 0 10px variable.$forest;
  transition: 0.2s ease-in-out;
}

// BTN SECONDARY 

.btn-secondary {
  text-decoration: variable.$deconone;
  color: variable.$white;
  background-color: variable.$orange;
  padding: variable.$btn-padding;
  border-radius: variable.$radius10;
}

.btn-secondary:hover {
  color: variable.$orange;
  background-color: variable.$white;
  box-shadow: 0 0 10px variable.$orange;
  transition: 0.2s ease-in-out;

}

// BTN MINEUR
.mineur-btn {
  background-color: variable.$white;
  padding: 3px 6px;
  color: variable.$black;
  text-decoration: none;
  text-transform: uppercase;
  border-radius: variable.$radius20;
  border: variable.$grey solid 2px;
  text-align: center;
}

.mineur-btn:hover {
  background-color: variable.$grey;
  transition: 0.2s ease-in-out;
  box-shadow: 0 0 10px variable.$black;
}