@use "../abstracts/variables" as variable;
@use "../abstracts/mixins" as mixins;

// CARTE AVEC BORDER 
.card {
    @include mixins.carte;
    padding: 1.5rem;
    h3::after {
        content: "";
        display: inline-block;
        width: 100%;
        height: 1px;
        background-color: variable.$grey;
    }
}

// CARTE AVEC IMAGE
.cards {
    display: flex;
    flex-direction: column;
    @include mixins.carte;
    height: 60vh;
    overflow: auto;
    padding: 1rem;
    img {
        width: 100%;
        height: 20vh;
        object-fit: cover;
        border-radius: variable.$radius20;
    }
    a {
        width: 25%;
        margin-top: 1rem;
    }

}