@use "../abstracts/variables" as variable;

.card {
    background-color: variable.$white;
    border-radius: variable.$radius10;
    width: 32%;
    height: 50%;
    padding: 1rem;
    h3::after {
        content: "";
        display: inline-block;
        width: 80%;
        height: 1px;
        background-color: variable.$grey;
    }
}