@use "../abstracts/variables" as variable;
.gallerie__wrapper {
    .gallerie-grid {
        width: 100%;
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        grid-template-rows: repeat(3, 200px);
        gap: 1rem;
        margin-bottom: 4rem;
        
        img {
            width: 100%;
            height: 100%;
            object-fit: cover;
            border-radius: variable.$radius20;
        }
        .one {
            grid-column: 1;
            grid-row: 1/3;
        }
        .two {
            grid-column: 2;
            grid-row: 1;
        }
        .three {
            grid-column: 3;
            grid-row: 1/3;
        }
        .four {
            grid-column: 2;
            grid-row: 2;
        }
        .five {
            grid-column: 1/3;
            grid-row: 3;
        }
        .six {
            grid-column: 3;
            grid-row: 3;
        }
    }
}
