@use "../abstracts/variables" as variable;

.lien-souligne {
    color: variable.$orange;
}

.lien-souligne:hover {
    background: linear-gradient(to right, variable.$black, variable.$orange);
    background-clip: text;
    color: transparent;
    transition: 0.2s ease-in-out;
}


.link-footer {
    text-decoration: variable.$deconone;
    color: variable.$white;
}

.link-footer:hover {
    background: linear-gradient(to right, variable.$black, variable.$apple);
    background-clip: text;
    color: transparent;
    transition: 0.2s ease-in-out;
}
