@use "../abstracts/variables" as variable;

// RONDS VERTS SANS BG

.mission__wrapper {
    li {
        display: flex;
        align-items: center;
    }
    li::before {
        content: ""; 
        width: 6px; 
        height: 6px;
        border-radius: 50%; 
        border: 3px solid variable.$forest;
        margin-right: 1rem;
    }
}

.footer__wrapper {

    ul {
        padding: 0;
        li {
        list-style: variable.$deconone;
        padding-top: 0.5rem;
        }
    }
}
