* {
  box-sizing: border-box;
}

body {
  background-color: #faf2e7;
  font-family: "DMSans", sans-serif;
  margin: 0;
}

h1 {
  font-size: 3rem;
  font-weight: 700;
  margin: 0;
}

h2 {
  font-size: 1.6rem;
  font-weight: 700;
  padding-bottom: 1rem;
}

h3 {
  font-size: 1, 3rem;
  font-weight: 700;
}

h4 {
  font-size: 1rem;
  font-weight: 500;
}

p {
  font-size: 1rem;
  font-weight: normal;
  padding-bottom: 1rem;
  margin: 0;
}

@font-face {
  font-family: "DMSans";
  src: url(../../fonts/static/DMSans-Regular.ttf);
}
.container {
  width: 100%;
  max-width: 1280px;
  margin: auto;
  padding: 1rem;
}

#banner-cta {
  margin-top: 4rem;
  background-color: #799e29;
}
#banner-cta .banner-cta__wrapper {
  display: flex;
  justify-content: space-between;
  color: #ffffff;
}

.cta-primary {
  padding: 12px 18px;
  border-radius: 10px;
  color: #ffffff;
  text-decoration: none;
  background: linear-gradient(45deg, #054d3b, #799e29);
  background-size: 200% 200%;
  animation: move 1s infinite alternate;
  transition: 0.2s;
}

@keyframes move {
  0% {
    background-position: 0% 50%;
  }
  100% {
    background-position: 100% 50%;
  }
}
.cta-primary:hover {
  box-shadow: 0 0 10px #799e29;
  transition: 0.2s ease-in-out;
}

.cta-secondary {
  text-decoration: none;
  color: #054d3b;
  background-color: #ffffff;
  padding: 12px 18px;
  border-radius: 10px;
  align-self: center;
  cursor: pointer;
}

.cta-secondary:hover {
  background-color: #054d3b;
  color: #ffffff;
  box-shadow: 0 0 10px #054d3b;
  transition: 0.2s ease-in-out;
}

.btn-primary {
  text-decoration: none;
  color: #ffffff;
  background-color: #054d3b;
  padding: 12px 18px;
  border-radius: 10px;
}

.btn-primary:hover {
  color: #054d3b;
  background-color: #faf2e7;
  box-shadow: 0 0 10px #054d3b;
  transition: 0.2s ease-in-out;
}

.btn-secondary {
  text-decoration: none;
  color: #ffffff;
  background-color: #ed732c;
  padding: 12px 18px;
  border-radius: 10px;
}

.btn-secondary:hover {
  color: #ed732c;
  background-color: #ffffff;
  box-shadow: 0 0 10px #ed732c;
  transition: 0.2s ease-in-out;
}

.mineur-btn {
  background-color: #ffffff;
  padding: 3px 6px;
  color: #030303;
  text-decoration: none;
  text-transform: uppercase;
  border-radius: 15px;
  border: #f0f3f2 solid 2px;
  text-align: center;
}

.mineur-btn:hover {
  background-color: #f0f3f2;
  transition: 0.2s ease-in-out;
  box-shadow: 0 0 10px #030303;
}

.lien-souligne {
  color: #ed732c;
}

.lien-souligne:hover {
  background: linear-gradient(to right, #030303, #ed732c);
  background-clip: text;
  color: transparent;
  transition: 0.2s ease-in-out;
}

.link-footer {
  text-decoration: none;
  color: #ffffff;
}

.link-footer:hover {
  background: linear-gradient(to right, #030303, #799e29);
  background-clip: text;
  color: transparent;
  transition: 0.2s ease-in-out;
}

.card {
  background-color: #ffffff;
  border-radius: 10px;
  width: 32%;
  padding: 1.5rem;
}
.card h3::after {
  content: "";
  display: inline-block;
  width: 100%;
  height: 1px;
  background-color: #f0f3f2;
}

.cards {
  display: flex;
  flex-direction: column;
  background-color: #ffffff;
  border-radius: 10px;
  width: 32%;
  height: 60vh;
  overflow: auto;
  padding: 1rem;
}
.cards img {
  width: 100%;
  height: 20vh;
  object-fit: cover;
  border-radius: 15px;
}
.cards a {
  width: 25%;
  margin-top: 1rem;
}

.mission__wrapper li {
  display: flex;
  align-items: center;
}
.mission__wrapper li::before {
  content: "";
  display: block;
  width: 0.3rem;
  height: 0.3rem;
  border-radius: 50%;
  border: 3px solid #054d3b;
  margin-right: 1rem;
}

.footer__wrapper ul {
  padding: 0;
}
.footer__wrapper ul li {
  list-style: none;
  padding-top: 0.5rem;
}

.gallerie__wrapper .gallerie-grid {
  width: 100%;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(3, 200px);
  gap: 1rem;
  margin-bottom: 4rem;
}
.gallerie__wrapper .gallerie-grid img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 15px;
}
.gallerie__wrapper .gallerie-grid .one {
  grid-column: 1;
  grid-row: 1/3;
}
.gallerie__wrapper .gallerie-grid .two {
  grid-column: 2;
  grid-row: 1;
}
.gallerie__wrapper .gallerie-grid .three {
  grid-column: 3;
  grid-row: 1/3;
}
.gallerie__wrapper .gallerie-grid .four {
  grid-column: 2;
  grid-row: 2;
}
.gallerie__wrapper .gallerie-grid .five {
  grid-column: 1/3;
  grid-row: 3;
}
.gallerie__wrapper .gallerie-grid .six {
  grid-column: 3;
  grid-row: 3;
}

.videos__wrapper {
  text-align: center;
}
.videos__wrapper h2 {
  text-align: end;
}
.videos__wrapper .videos-card {
  display: flex;
  width: 100%;
  gap: 2rem;
}
.videos__wrapper .videos-card .video {
  border-radius: 15px;
  width: 100%;
  height: 24vh;
  margin-bottom: 2rem;
}

.header__wrapper {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 2rem;
}
.header__wrapper img {
  width: 8%;
}

footer {
  margin-top: 4rem;
  background-color: #054d3b;
}
footer .footer__wrapper {
  color: #ffffff;
}
footer .footer__wrapper .navfooter {
  display: flex;
  justify-content: space-between;
  text-align: justify;
  width: 100%;
  margin-bottom: 2rem;
}
footer .footer__wrapper .navfooter .nav {
  width: 100%;
}
footer .footer__wrapper .navfooter .liens {
  margin-left: 6rem;
}
footer .footer__wrapper .navfooter h3 {
  text-decoration: underline;
}
footer .footer__wrapper .navfooter .google {
  border-radius: 15px;
  width: 100%;
  height: 20vh;
}
footer .footer__wrapper .copy {
  font-size: 0.8rem;
}

.hero__wrapper {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  text-align: left;
  gap: 4rem;
}
.hero__wrapper .hero-img img {
  width: 100%;
  border-top-left-radius: 10px;
  box-shadow: 8px 8px 2px 2px #054d3b;
}

.projet-card {
  display: flex;
  width: 100%;
  flex-wrap: wrap;
  gap: 1.5rem;
}

#mission {
  background-image: url(../../assets/img/farmer-bg.jpg);
  background-position: center;
  background-size: cover;
  padding: 8rem 0;
}
#mission .mission__wrapper {
  background-color: #ffffff;
  border-radius: 10px;
  padding: 3rem;
  display: flex;
  align-items: center;
}
#mission .mission__wrapper .mission-text {
  width: 70%;
}
#mission .mission__wrapper .mission-img {
  width: 30%;
  height: 60%;
  object-fit: cover;
}
#mission .mission__wrapper .mission-img img {
  border-radius: 10px;
  width: 100%;
}
#mission .mission__wrapper .mission-list ul {
  display: flex;
  flex-wrap: wrap;
  gap: 0.5rem;
  margin-bottom: 3rem;
}
#mission .mission__wrapper .mission-list ul li {
  padding: 0.5rem;
  list-style: none;
  flex: 1 1 45%;
}

#actualites {
  margin-bottom: 6rem;
}
#actualites .actualites__wrapper .climat-actu {
  display: flex;
  gap: 2rem;
  align-items: stretch;
  margin-bottom: 2rem;
  width: 100%;
}
#actualites .actualites__wrapper .climat-actu img {
  width: 49%;
  object-fit: cover;
  height: 40vh;
  border-radius: 15px;
}
#actualites .actualites__wrapper .climat-actu .climat-card {
  background-color: #ffffff;
  width: 49%;
  padding: 4rem;
  border-radius: 15px;
}
#actualites .actualites__wrapper .cards-actu {
  display: flex;
  gap: 3rem;
}
#actualites .actualites__wrapper .cards-actu .dechets .lien-souligne {
  margin-top: 3rem;
}

.partners__wrapper {
  width: 100%;
  height: 30vh;
}
.partners__wrapper .partners-img {
  width: 100%;
  display: flex;
  justify-content: space-between;
  gap: 5rem;
}
.partners__wrapper .partners-img img {
  width: 15%;
}

@media screen and (max-width: 1000px) {
  .videos__wrapper {
    text-align: center;
  }
  .videos__wrapper .videos-card {
    flex-direction: column;
    gap: 0;
  }
  .videos__wrapper .videos-card .video {
    width: 100%;
    height: 34vh;
  }
  .footer__wrapper .navfooter {
    flex-direction: column;
    align-items: start;
  }
  .footer__wrapper .navfooter .liens {
    margin-left: 0rem !important;
  }
  .footer__wrapper .navfooter .liens .google {
    width: 100%;
  }
}
@media screen and (max-width: 768px) {
  .header__wrapper {
    flex-direction: column;
  }
  .header__wrapper .img {
    width: 100%;
  }
  .hero__wrapper {
    flex-direction: column;
  }
  .projet-card {
    flex-direction: column;
  }
  .projet-card .card {
    width: 100%;
  }
  #mission .mission__wrapper {
    max-width: 80%;
    flex-direction: column-reverse;
    padding: 2rem;
  }
  #mission .mission__wrapper .mission-text {
    width: 100%;
  }
  #mission .mission__wrapper .mission-img {
    width: 100%;
  }
  #mission .mission__wrapper .mission-list ul {
    flex-direction: column;
    padding: 0;
  }
  #actualites .actualites__wrapper .climat-actu {
    flex-direction: column;
    gap: 0rem;
  }
  #actualites .actualites__wrapper .climat-actu img {
    width: 100%;
    border-bottom-left-radius: 0;
    border-bottom-right-radius: 0;
  }
  #actualites .actualites__wrapper .climat-actu .climat-card {
    width: 100%;
  }
  #actualites .actualites__wrapper .cards-actu {
    flex-direction: column;
  }
  #actualites .actualites__wrapper .cards-actu .cards {
    width: 100%;
    height: 60vh;
  }
  #actualites .actualites__wrapper .cards-actu .cards img {
    width: 100%;
    height: 50%;
  }
  .gallerie__wrapper .gallerie-grid {
    display: flex;
    flex-direction: column;
  }
  .gallerie__wrapper .gallerie-grid img {
    width: 100%;
    height: 20vh;
  }
  .banner-cta__wrapper {
    flex-direction: column;
    text-align: center;
  }
  .partners__wrapper {
    height: auto;
  }
  .partners__wrapper .partners-img {
    flex-direction: column;
    justify-content: center;
    gap: 2rem;
  }
  .partners__wrapper .partners-img img {
    width: 100%;
  }
}

/*# sourceMappingURL=style.css.map */
