@use "../abstracts/variables" as variable;

.hero__wrapper {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    text-align: left;
    gap: 4rem;
    .hero-img img{
        width: 100%;
        border-top-left-radius: variable.$radius10;
        box-shadow: 8px 8px 2px 2px variable.$forest;
    }
}

.projet-card {
    display: flex;
    width: 100%;
    flex-wrap: wrap;
    gap: 1.5rem;
}

#mission {
    background-image: url(../../assets/img/farmer-bg.jpg);
    background-position: center;
    background-size: cover;
    height: 75vh;
    padding-top: 8rem;
    .mission__wrapper {
        width: 90vw;
        background-color: variable.$white;
        border-radius: variable.$radius10;
        padding: 3rem;
        .mission-content {
            display: flex;
            align-items: center;
            justify-content: center;
            margin-top: -2rem;
            img {
                width: 35%;
                border-radius: variable.$radius10;
            }
            .mission-list {
                display: flex;
                gap: 1rem;
                ul {
                    padding: 0;
                    margin-bottom: 3rem;
                    li{
                        padding: 0.5rem;
                        list-style: none;
                    }
                }
            }
        }
    }
}

.actualites__wrapper {
    .climat-actu {
        display: flex;
        gap: 2rem;
        align-items: center;
        margin-bottom: 2rem;
        width: 100%;
        height: 30vh;
        img {
            width: 49%;
            height: 30vh;
            object-fit: cover;
            border-radius: variable.$radius20;
        }
        .climat-card {
            background-color: variable.$white;
            width: 49%;
            height: 30vh;
            padding: 4rem;
            border-radius: variable.$radius20;
        }
    }
    .cards-actu {
        display: flex;
        gap: 3rem;
        .dechets {
            .lien-souligne {
                margin-top: 3rem;
            }
        }
    }
}